<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.communication.pingyi">

    <uses-feature
        android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"  />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!--android14-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 拍照等 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!-- 录音权限，语音消息使用 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Android 11及以上版本使用以下权限 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_jt"
        android:label="@string/app_name_hengyong"
        android:roundIcon="@drawable/ic_logo_jt"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:name=".base.BaseApplication"
        android:theme="@style/Py.AppTheme"
        android:hardwareAccelerated="true"
        tools:targetApi="n">
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated = "true"
            android:exported="false">
            <intent-filter>

                <action android:name="com.communication.pingyi.main"/>
                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>

        </activity>
        <activity android:name=".activity.WebviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <receiver android:name=".jpush.PushReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.communication.pingyi" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.ConversationAcitivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity android:name=".activity.VoiceAndVideoActivity"
            android:exported="false"/>


        <service android:name=".jpush.PushService"
            android:process=":pushcore"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.communication.pingyi.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>